{% extends "user/base.html" %}

{% block content %}

<style>
    h3 {text-align: center; color: green;}
</style>

<!-- ################################################################################################################################ -->

            <div style="width: 1300px; left: 0;">
                <h3>See All Task Here</h3>
                
       <br> 
                <form class="form-inline" method="get" action="{% url 'search' %}">
                    <input class="form-control mr-sm-2" type="text" name= "p" placeholder="Enter Project Name " aria-label="Search">
                    <input class="form-control mr-sm-2" type="text" name= "q" placeholder="Enter Shot Name" aria-label="Search">
                    <input class="form-control mr-sm-2" type="text" name= "r" placeholder="Enter Work Status" aria-label="Search"> 
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-group"  type="submit">Search</button>
                </form>
        <br> 
        

<!-- ##########################################  Tabular Data ############################################################################### -->

<div style="width: 1300px; left: 0;">
    <table class="table" id="table">
        <thead class="thead-dark">
            <tr>
                <th>Sr.No</th>
                <th>CoOrdinator </th>
                <th>Project_Name </th>
                <th>Shot_Name </th>
                <th>Task_Assign </th>
                <th>Work_Discription </th>
                <th>Date_Started</th>
                <th>Work_Status</th>
                <th>Date_Completed</th>
                <th>Action</th>
            </tr>
        </thead>
    
      <tbody>
        {% for shot in shots %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ shot.supervisor }}</td>
                <td>{{ shot.project_name }}</td>
                <td>{{ shot.shot_name }}</td>
                <td>{{ shot.task_assign }}</td>
                <td>{{ shot.work_description }}</td>
                <td>{{ shot.date_started  }}</td>
                <td>{{shot.work_status}}</td>
                <td>{{ shot.date_completed  }}</td>
                
                <td class="text-right row">
                    <div class="col-md-6 custom">
                        {% if request.user == shot.supervisor %} 
                            <a href="{% url 'edit_shot1' shot.id %}"><button type="button" class="btn btn-outline-success btn-sm">Edit</button></a> 
                        {% else %}
                            <button class="btn btn-outline-success btn-sm" onclick="edit()">Edit</button> 
                        {% endif %} 
                    </div> 
                </td>
            </tr> 
        {% endfor %}
      </tbody>
    </table>
</div>
</div>

<!-- ############################################# Pagination ########################################################################### -->

            <h4><a class="btn btn-success btn-sm" href="{% url 'add_shot1' %}">Add Shot</a>
                <a class="btn btn-primary btn-sm" href="#">Back to Home</a></h4>
            
            <ul class="pagination">
                {% if shots.has_previous %}
                    <a href="{% url 'pages' shots.previous_page_number %}"> Previous </a>
                {% endif %}

                    Page {{ shots.number }} of {{ shots.paginator.num_pages }}

                {% if shots.has_next %}
                    <a href="{% url 'pages' shots.next_page_number %}"> Next </a>
                {% endif %}
            </ul>

<!-- ############################################### Script1 ################################################################################# -->
    
    <script>
            function changeColor()
        {
            var table = document.getElementById("table"); // Get the table element by its ID
            var cells = table.getElementsByTagName("td"); // Get all the cells in the table
            
            for (var i = 0; i < cells.length; i++) { // Loop through each cell
            var cell = cells[i];
            var text = cell.innerText.toLowerCase(); // Get the text of the cell, converted to lowercase for easier comparison
            
            if (text.includes("not started")) { // If the text includes the word "red"
                cell.style.backgroundColor = "red"; // Change the background color to red
            } else if (text.includes("in process")) { // If the text includes the word "blue"
                cell.style.backgroundColor = "orange"; // Change the background color to blue
            } else if (text.includes("completed")) { // If the text includes the word "green"
                cell.style.backgroundColor = "green"; // Change the background color to green
            }
            }
        }
        changeColor();
    </script>

<!-- ################################################ Script2 ############################################################################### -->

<script>
    function edit() {
    alert("Oops! You do not have access");
    }
  </script>

<!-- ############################################################################################################################### -->

{% endblock content %}

