{% extends "user/base.html" %}

{% block content %}
<br> 
<table class="table" id="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">CoOrdinator </th>
          <th scope="col">Project_Name </th>
          <th scope="col">Shot_Number </th>
          <th scope="col">Task_Assign </th>
          <th scope="col">Work_Discription </th>
          <th scope="col">Date_Started</th>
          <th scope="col">Work_Status</th>
          <th scope="col">Date_Completed</th>
            <!-- <th scope="col">Action</th> -->
        </tr>
    </thead>

  <tbody>
    {% for shot in shots %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ shot.supervisor }}</td>
          <td>{{ shot.project_name }}</td>
          <td>{{ shot.shot_number }}</td>
          <td>{{ shot.task_assign }}</td>
          <td>{{ shot.work_description }}</td>
          <td>{{ shot.date_started  }}</td>
          <td>{{ shot.work_status}}</td>
          <td>{{ shot.date_completed  }}</td>
           <!--  <td><a href="{% url 'edit_shot' shot.id %}"><button type="button" class="btn btn-success">Edit</button></a></td> -->
        </tr> 
    {% endfor %}
  </tbody>
</table>
<br>
<a href="{% url 'all_shot1' %}"><button type="button" class="btn btn-info">Go Back</button></a>
<a href="{% url 'homepage' %}"><button type="button" class="btn btn-primary">Go to Home</button></a>


  <script>
        function changeColor()
      {
        var table = document.getElementById("table"); // Get the table element by its ID
        var cells = table.getElementsByTagName("td"); // Get all the cells in the table
        
        for (var i = 0; i < cells.length; i++) { // Loop through each cell
        var cell = cells[i];
        var text = cell.innerText.toLowerCase(); // Get the text of the cell, converted to lowercase for easier comparison
        
        if (text.includes("not started")) { // If the text includes the word "red"
            cell.style.backgroundColor = "red"; // Change the background color to red
        } else if (text.includes("in process")) { // If the text includes the word "blue"
            cell.style.backgroundColor = "orange"; // Change the background color to blue
        } else if (text.includes("completed")) { // If the text includes the word "green"
            cell.style.backgroundColor = "green"; // Change the background color to green
        }
        }
      }
      changeColor();
  </script> 

{% endblock content %}

