{% extends "user/base.html" %}

{% block content %}

<style>
    h3 {
      text-align: center;
      color: green;
      
    }
</style>

<div style="width: 800px; left: 0;">
<h3>Issued Task</h3>
</div>

  
          
    <table class="table" id="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">CoOrdinator </th>
                <th scope="col">Project_Name </th>
                <th scope="col">Shot_Number </th>
                <th scope="col">Task_Assign </th>
                <th scope="col">Work_Discription </th>
                <th scope="col">Date_Started</th>
                <th scope="col">Work_Status</th>
                <th scope="col">Date_Completed</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    
        <tbody>
            {% for issueshot in Issuedshots %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ issueshot.supervisor }}</td>
                    <td>{{ issueshot.project_name }}</td>
                    <td>{{ issueshot.shot_number }}</td>
                    <td>{{ issueshot.task_assign }}</td>
                    <td>{{ issueshot.work_description }}</td>
                    <td>{{ issueshot.date_started  }}</td>
                    <td>{{issueshot.work_status}}</td>
                    <td>{{ issueshot.date_completed  }}</td>
                    <!-- <td> <a href="{%url 'delete_issued_shot1' issueshot.id %}"><button type="button" class="btn btn-danger">Delete</button></a> </td> -->
                </tr> 
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'all_shot1' %}"><button type="button" class="btn btn-success">Issue Another Task</button></a>
    <a href="{% url 'homepage' %}"><button type="button" class="btn btn-primary">Back to Home</button></a>

{% endblock content %}

