<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style>
            .redTable {
                margin: 0 auto; /* Align the table in the center */
                width: 20%; /* Adjust the width as needed */
                border-collapse: collapse;
            }
        
            .redTable th, .redTable td {
                border: 1px solid black;
                padding: 6px;
                text-align: center;
            }
        </style>
    </head>

  <body>
    {% include "user/navbaradmin.html" %}
    <br>
    <br>
    <h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>All Projects</h3>
                
        {% if projects %} 

                <table class="redTable" id="table">
                    
                    <thead>
                        <a href="{% url 'addshot' %}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Create Project</a>
                        <tr>
                            <th>Sr.No</th>
                            <th>Project Name</th>
                            <th>Number of Shots</th>
                            <th>TGT Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'pshots' project.project_name %}">{{ project.project_name }}</a></td>
                                <td>{{ project.num_shots }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
        {% else %}
            <h4> Projects Not Available </h4>
        {%endif%}
  
  </body>
</html><br>

            

