<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "user/navbaradmin.html" %}
    <br>
    <br>
        <h5 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>Artist Updated Successfully !</h5>
        <br><br>

        <div class="options" style="text-align:center">
          <a href="{% url 'allartist1' %}" class="btn btn-outline-primary btn-lg active" role="button" aria-pressed="true">View Artist</a>
        </div>
  </body>
</html>