<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    {% include "user/navbarstudent.html" %}

    <br><br>
        <h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>Messages</h3><br>

        {% if messages %}
                {% for message in messages %}
                <div class="media border p-3">
                    <h6>{{forloop.counter}})</h6>
                    <ul>
                        <h6>Message : <b> {{ message.message }}</b></h6>
                        <h6>Date : <b>{{ message.date_sent | date:'d/m/Y'}}</b></h6>
                    </ul>
                </div>

                {% endfor %}
        {% else %}
            <h4>No messages.</h4>
        {% endif %}
</body>
</html>
