<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Openslate </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


        <style type="text/css">
            .bs-example{
                margin: 0px;
            }

            .navbar-brand{
            font-size: 20px;
            font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="bs-example">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                <a href="" class="navbar-brand">Pipeline Management</a>

                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <a href="#" class="navbar-brand">{{ user.username }}</a>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link active">Home</a>

                            <!--for issueshot dropdown button-->
                            <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Shot</a>
                            <div class="dropdown-menu">
                                <!-- <a href="{% url 'allshot' %}" class="dropdown-item">All Shot</a> -->
                                <a href="{% url 'viewissuedshotbyartist' %}" class="dropdown-item">  Assigned Shot </a>
                                <a href="{% url 'popup_message' %}" class="dropdown-item"> Messages </a>
                            </div>
                            </div>

                            <!--for feedback dropdown button-->
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Status</a>
                                <div class="dropdown-menu">
                                <a href="{% url 'sendfeedback' %}" class="dropdown-item">Send Status</a>
                                <a href="{% url 'myfeedback' %}" class="dropdown-item">My Status</a>
                                </div>
                            </div>
                    </div>

                    <div class="navbar-nav">
                        <a class="btn btn-outline-info" href="logout" class="nav-item nav-link">LOGOUT</a> 
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>