<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "user/navbaradmin.html" %}
    <br>
    <br>

<h5 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>Shot Added Successfully !</h5>
<br><br>
<div class="options" style="text-align:center">
  <a href="{% url 'addshot' %}" class="btn btn-outline-primary btn-lg " role="button" aria-pressed="true"> Add Shot</a>

<a href="{% url 'allshot' %}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">View All Shot</a>


</div>
<br>

  </body>
</html>