<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "user/navbarstudent.html" %}
    <br>
    <br>

<h5 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>Feedback Sent Successfully !</h5>
  <br><br>
    <div class="options" style="text-align:center">
      <a href="{% url 'sendfeedback' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Send Feedback</a>
      <a href="{% url 'myfeedback' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View My Feedback</a>
    </div>
  <br>

  </body>
</html>