<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style>
        </style>
    </head>

<body> 
    {% include "user/navbarstudent.html" %}

    <div class="container">
        <br><br><br>
        <h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>My Feedback</h3><br>

        {% if feedbacks %}
            {% for i in feedbacks %}
                <div class="media border p-3">
                    <h6>{{forloop.counter}})</h6>

                    <div class="media-body">
                        <h6 class="d-flex justify-content-between">
                            <span><h5> {{ i.project_name }} </h5></span> <i>Date Posted : {{ i.date_posted }}</i> 
                            <a href="{% url 'deletefeedback' i.id %}"> <button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a>      
                        </h6>
                        <h6>Shot Name : <i>{{ i.shot_name }}</i></h6>
                        <h6>Content : <i>{{ i.content | truncatewords:25 }}</i></h6>
                    </div>
                    
                </div><br>
            {% endfor %}
        {% else %}
            <h5> 0 Feedback Available</h5>
        {%endif%}
    </div>
</body>
</html>