<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "user/navbaradmin.html" %}
    <br>
    <br>

        <h5 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 20px;text-align:center;'>Shot Issued Successfully !</h5>
        <br><br>
        <div class="options" style="text-align:center">
        <a href="{% url 'issueshot' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Shot Issue to Artist</a><br><br>

        <a href="{% url 'viewissuedshot' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Issued Shot</a><br><br>
        </div>

  </body>
</html>